#Global
node_modules
dist

#TypeScript
tsconfig.tsbuildinfo

#Root
/database_backups
/data
*.tar

#Extensions
/**/*.js*

#IDE
.vscode
!.vscode/launch.json.example
.idea

#MacOs
.DS_Store

#Tests
coverage/
junit.xml