#Global
node_modules
dist
*.env
!*.example.env
scripts/user.txt

#TypeScript
tsconfig.tsbuildinfo

#Root
/database_backups
/data
*.tar

#Extensions
extensions/**/*.js*

#IDE
.vscode
!.vscode/launch.json.example
.idea

#MacOs
.DS_Store

#Tests
coverage/
junit.xml
cypress/screenshots